// File: ArrMax.vm
// Function: ArrMax.arrMax(m, n)
// Finds the maximum value in an array of length n,
// where m is the base address (pointer to array).
// Returns the largest element value.

function ArrMax.arrMax 2
// local 0 -> current max
// local 1 -> index

// if n == 0, return 0
push argument 1
push constant 0
eq
if-goto EMPTY
goto INIT

label EMPTY
push constant 0
return

label INIT
// Set THAT = base address (m)
push argument 0
pop pointer 1

// max = arr[0]
push that 0
pop local 0

// index = 1
push constant 1
pop local 1

label LOOP
// if index < n -> continue, else end
push local 1
push argument 1
lt
if-goto CONTINUE
goto DONE

label CONTINUE
// Set THAT = m + index
push argument 0
push local 1
add
pop pointer 1

// if arr[index] > max -> update
push that 0
push local 0
gt
if-goto UPDATE
goto NEXT

label UPDATE
push that 0
pop local 0

label NEXT
// index++
push local 1
push constant 1
add
pop local 1

goto LOOP

label DONE
push local 0
return
