// Calculates a = x*y
// a is a local variable
// x & y are static variables
// Put your code here.

push constant 0
pop local 0

push static 1
pop local 3

label CHECK
push local 3
push constant 1
gt
if-goto MULT

push local 3
push constant 0
eq

if-goto END
push static 0
pop local 0
goto END

label MULT
push local 0
push static 0
add
pop local 0

push local 3
push constant 1
sub
pop local 3
goto CHECK

if-goto MULT
label END
goto END