// File: Fib.vm
// Recursive Fibonacci: Fib.fib(n)
// Base cases:
//   Fib.fib(0) = 0
//   Fib.fib(1) = 1
// Recursive case:
//   Fib.fib(n) = Fib.fib(n-1) + Fib.fib(n-2)

function Fib.fib 0
// if n < 2, return n
push argument 0
push constant 2
lt
if-goto BASE_CASE
goto RECURSE

label BASE_CASE
push argument 0
return

label RECURSE
// Save n temporarily
push argument 0
push constant 1
sub
call Fib.fib 1     // Fib.fib(n-1)
push argument 0
push constant 2
sub
call Fib.fib 1     // Fib.fib(n-2)
add
return
